* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paralax {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.paralax__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.paralax__img-1 {
  background: url("../img/bird.png") center 30%/auto 35% no-repeat;
  z-index: 3;
}

.paralax__img-2 {
  background: url("../img/mount.png") center/cover no-repeat;
  z-index: 2;
}

.paralax__img-3 {
  background: url("../img/mount2.png") center/cover no-repeat;
  z-index: 3;
}

.paralax__img-4 {
  background: url("../img/t.png") center/cover no-repeat;
  z-index: 4;
}

.paralax__title {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 45%;
}

.paralax__title h1 {
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  width: auto;
  letter-spacing: 10px;
}

.paralax__title.active {
  position: fixed;
  top: 0px;
  color: #fff;
  z-index: 5;
}

.content {
  max-width: 1000px;
  margin: 30px auto;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 360px;
          flex: 1 0 360px;
}

.column__content {
  margin: 10 0;
  padding: 10;
}

.column__title {
  text-align: center;
  letter-spacing: 18px;
  font-size: 20px;
  text-height: 250;
}

.column__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.column__img img {
  overflow: cover;
  width: 100%;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.5);
}

.column__text {
  padding: 10px;
}